@page "/"

<PageTitle>Sauna Booking System</PageTitle>

<h1>Welcome to Sauna Booking</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name!</p>
        <p><a href="/calendar">View Calendar</a></p>
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="/login">log in</a> to make a booking.</p>
    </NotAuthorized>
</AuthorizeView>
